@import "common";

.listFilt{
    padding: 12px;
    padding-top: 17px;
    padding-bottom: 25px;


    h2{
        @include FiltHeader;
    }

    div{
        width: 100%;
        height: 25px;
        align-items: center;
        position: relative;
        display: flex;

        margin-bottom: 3px;

        input{
            -webkit-appearance: none;
            appearance: none;

            user-select: none;
            height: 20px;
            width: 20px;

            border: 1px solid $peripheralCol;
            border-radius: 3px;

            margin-right: 5px;

            &:checked{
                border-color: $accentCol;
                background-color: $accentCol; 
            }
        } 

        p{
            @include text-style(13px);
            line-height: 13px;
        }

        span{
            @include text-style(20px);
            align-items: center;
            height: 25px;
            border: 1px solid $accentCol;
            border-radius: 3px;
            padding-left: 7px;
            padding-right: 7px;
            position: absolute;
            right: 0;
        }
    }
}