@import 'common';


main{
    display: flex;
    
    width: 1350px;
    margin: 0 auto;

    align-items: flex-start;


    aside{
        margin-top: 11px;
        margin-right: 11px;
        width: 23%;
        box-shadow: 0 5px 15px rgba(87, 87, 87, 0.3);
        border: $card_border 0.5px solid;
    }

    .cards{
        width: 77%;

        display: flex;
        flex-wrap: wrap;

    }

}

.buttonBox{
    width: 100%;
    padding-left: 30%;
    padding-right: 13%;
    display: flex;
    justify-content: space-around;

    .show_more{
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        text-transform: uppercase;

        @include text-style(15px, white);
        font-weight: bold;

        border: 1px $peripheralCol solid;
        background-color: $peripheralCol;

        &:hover{
            background-color: #5a5a5a;
        }
    }
}




@media (max-width: $mobile-width) {
    main{
        max-width: 100%;

        aside{
            display: none;
        }

        .crads{
            width: 100%;
            justify-content: space-around;
        }
    }
}