@import 'common';

nav{
    min-width: 1500px;
    width: 100%;
    height: $navH;
    transition: height 1s ease; 
    
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: $peripheralCol;

    display: flex;

    .icon{
        display: none;
        min-height: 45px;
        width: 86vw;

        background-color: white; 
        mask-image: url('/img/Hamburger_icon.png'); 
        mask-size: contain; 
        mask-repeat: no-repeat;
        mask-position: center;
    }

    a{
        text-decoration: none;
        text-transform: uppercase;
        @include text-style(17px, white);
        text-align: center;
        line-height: 35px;
        height: 35px;
        padding-left: 22px;
        padding-right: 22px;
        border-right: solid 0.5px gray;

        &:last-child{
            border: none;
        }

        &:hover{
            color: rgb(221, 221, 221);
        }
    }
}



@media (max-width: $mobile-width) {
    nav{
        min-width: 0;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 0;
        overflow: hidden;
        flex-direction: column;


        .icon{
            display: block;
            height: 45px;
        }

        a{
            border: none;
        }

    }


}