@import 'common';

nav{
    width: 100%;
    height: $navH;
    
    padding-left: 13%;
    padding-right: 13%;

    min-width: 1500px;

    background-color: $peripheralCol;

    display: flex;
    align-items: center;

    a{
        text-decoration: none;
        text-transform: uppercase;
        @include text-style(17px, white);
        text-align: center;
        line-height: 35px;
        height: 35px;
        padding-left: 22px;
        padding-right: 22px;
        border-left: solid 0.5px gray;

        &:first-child{
            border: none;
        }

        &:hover{
            color: rgb(221, 221, 221);
        }
    }
}

.mobile-nav{
    display: none;
}


@media (max-width: $mobile-width) {
    nav{
        &:not(.mobile-nav) {
            display: none;
        }
    }


    .mobile-nav{
        display: block;
        min-width: 0;
        padding-left: 5%;
        padding-right: 5%;
        
            .buttons{
            display: flex;
            justify-content: space-between;
            position: relative;
            height: $navH;
            padding-top: 3px;

            img{
                height: 39px;
            }
        }
    }
}