@import 'common';


section {
    box-shadow: 0 5px 15px rgba(87, 87, 87, 0.3);
    border: $card_border 0.5px solid;

    width: 320px;
    height: 400px;
    padding-top: 5px;

    margin: 11px;

    > div:first-child{
        width: 320px;
        height: 165px;

        margin-bottom: 5px;
        display: flex;
        justify-content: space-around;

        img{
            height: 165px;
            
            &:hover{
                opacity: 0.8;
            }
        }
    }

    .price{
        width: 120px;
        height: 23px;
        margin: 0 auto;

        .num{
            @include text-style(23px);
            line-height: 23px;
            display: inline-block;
            width:70px;
            text-align: right;
        }

        span{
            @include text-style(12px);
            line-height: 23px;
        }
    }

    .avalibility{
        width: 100%;
        height: 12px;
        margin: 0 auto;
        
        p{
            @include text-style(14px, $avalible);
            text-align: center;
            margin: 0;
            line-height: 12px;
            margin-top: 1px;
        }
    }

    h2{
        width: 300px;
        text-align: center;
        margin: 0;
        margin: 0 auto;
        margin-top: 3px;
        margin-bottom: 5px;
        @include text-style(15px);

        &:hover{
            opacity: 0.8;
        }
    }

    .parameters{
        width: 300px;
        height: 80px;
        margin: 0 auto;

        .line{
            width: 100%;
            height: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dots{
                flex: 1;
                height: 12px;
                border-bottom: 1px $peripheralCol dashed;
                margin-left: 5px;
                margin-right: 5px;
            }

            p{
                @include text-style(12px);
                margin: 0;
            }
        }
    }

    .buttons{

        width: 186px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 15px;

        .buy{
            height: 35px;
            width: 70px;
            text-align: center;

            @include text-style(12px);

            border: 1px $peripheralCol solid;
            background-color: $accentCol;

            &:hover{
                background-color: #ffe137;
            }
        }

        .one_click{
            height: 35px;
            width: 100px;
            text-align: center;

            @include text-style(12px, white);

            border: 1px $peripheralCol solid;
            background-color: $peripheralCol;

            &:hover{
                background-color: #5a5a5a;
            }
        }
    }

}