@import 'common';

article{
    width: 70%;
    margin: 0 auto;
    position: relative;

    .main-cont{
        @include box-style;
        min-height: 70vh;
        padding: 20px;
        h2{
            @include text-style(30px, lighten($peripheralCol, 5));
            font-weight: normal;
            margin: 0;
        }

        ul{
            li{
                @include text-style(15px);
                margin-bottom: 10px;
            }
        }

        p{
            @include text-style(15px);
        }
        
        span{
            font-weight: bold;
        }

        video{
            width: 100%;
        }

        #map{
            width: 90%;
            margin: 0 auto;
            height: 50vh;
        }


        .flex-cont{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            img{
                width: 30%;
                min-width: 250px;
                margin: 10px;
            };
        }
    }
}


@media (max-width: $notebook-width) {

    article{
        width: 98%;
    }
}
